<%- include("../partials/header", { title: "Admin Dashboard", user: user }) %>

<h1>Admin Dashboard</h1>

<ul>
  <li><a href="/client">Manage Clients</a></li>
  <li><a href="/policy">Manage Policies</a></li>
  <li><a href="/commission">View Commissions</a></li>
</ul>

<%- include('../partials/footer') %>
