<h1>HELlo Joshua</h1>
<%= JSON.stringify(user); %>
<a href="/client">client</a>
<a href="/policy">policy</a>
<a href="../superadmin/ranks">Create Rank</a><br />
<a href="../superadmin/commission-rates">Add Commission Rate</a>
<a href="../superadmin/users">Users</a>
<a href="../superadmin/register">Register</a>

<a href="/auth/logout">Logout</a>
