<%- include("../partials/header", { title: "Superadmin Dashboard", user: user })
%>

<h1>Superadmin Dashboard</h1>

<ul>
  <li><a href="/user">Manage Users</a></li>
  <li><a href="/client">Manage Clients</a></li>
  <li><a href="/policy">Manage Policies</a></li>
  <li><a href="/commission">View All Commissions</a></li>
  <li><a href="/reports">View Reports</a></li>
</ul>

<%- include('../partials/footer') %>
