<%- include("../partials/header", { title: "User Dashboard", user: user }) %>

<h1>User Dashboard</h1>

<ul>
  <li><a href="/client">My Clients</a></li>
  <li><a href="/policy">My Policies</a></li>
  <li><a href="/commission">My Commissions</a></li>
</ul>

<%- include('../partials/footer') %>
