<h2>Create Ranks</h2>
<form action="/superadmin/ranks" method="POST">
  <label for="role_name">Role Name:</label><br />
  <input type="text" id="role_name" name="roleName" />
  <br />

  <button type="submit">Create Rank</button>
</form>
