<h1>Users</h1>
<form action="/search-users" method="GET">
  <input type="text" name="query" placeholder="Search for users..." />
  <button type="submit">Search</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user){ %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td>
        <a href="/superadmin/edit-user/<%= user.id %>" class="btn btn-primary"
          >Edit</a
        >
        <form
          action="/superadmin/users/<%= user.id %>"
          method="POST"
          style="display: inline-block"
        >
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<a href="/superadmin/register" class="btn btn-primary">Add User</a>
